@import '../_var'

// Awards Slider
.awards_slider
    margin-top: 60px
    .swiper-wrapper
        transition-timing-function: linear !important
        figure
            height: 75px
            &:hover
                img
                    filter: grayscale(0)
            img
                filter: grayscale(1)
                object-fit: contain